# build folder
build/
/build-*
/cmake-build-debug

# clion
/.idea

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.project

# Vim swap files
.*.swp
# ctags
/tags

# Libreoffice swap files
.~lock*#

__pycache__/

# QT Creator
CMakeLists.txt.user
/docs/ota-client-guide/modules/ROOT/pages/_junk
*.code-workspace
.vscode/launch.json
