[auth]
server = "https://url.com"
#client_id = "thisisaclientid"
#client_secret = "thisisaclientsecret"

[core]
server = "https://url.com"
polling = true
polling_sec = 10

[dbus]
name = "org.genivi.SotaClient"
path = "/org/genivi/SotaClient"
interface = "org.genivi.SotaClient"
software_manager = "org.genivi.SoftwareLoadingManager"
software_manager_path = "/org/genivi/SoftwareLoadingManager"
timeout = 60

[device]
uuid = "bc50fa11-eb93-41c0-b0fa-5ce56affa63e"
packages_dir = "/tmp/"
package_manager = "off"
certificates_directory = "/tmp/aktualizr/"
system_info = "system_info.sh"

[gateway]
console = false
dbus = false
http = true
rvi = false
socket = false
websocket = false

[network]
http_server = "127.0.0.1:8888"
rvi_edge_server = "127.0.0.1:9080"
socket_commands_path = "/tmp/sota-commands.socket"
socket_events_path = "/tmp/sota-events.socket"
socket_events = "DownloadComplete, DownloadFailed, NoUpdateRequests"
websocket_server = "127.0.0.1:3012"


[rvi]
node_host = "localhost"
node_port = 8810
device_key =  "./config/ex/keys/insecure_device_key.pem"
device_cert = "./config/ex/certificates/insecure_device_cert.crt"
ca_cert = "./config/ex/certificates/insecure_root_cert.crt"
cert_dir =  "./config/ex/certificates"
cred_dir = "./config/ex/credentials/"

client = "http://127.0.0.1:8901"
storage_dir = "/var/sota"
timeout = 20

[provision]
p12_path = "config/cred.p12"
p12_password = ""

[tls]
server = "https://7d0a4914-c392-4ccd-a8f9-3d4ed969da07.tcpgw.prod01.advancedtelematic.com:8000"
ca_file = "ca.pem"
pkey_file = "pkey.pem"
client_certificate = "client.pem"

[uptane]
metadata_path = "/tmp/aktualizr/metadata"
private_key_path = "ecukey.pem"
public_key_path = "ecukey.pub"

[ostree]
os = "testos"
sysroot = "/opt/sysroot"