[dbus]
path = "/org/genivi/SotaClient"
interface = "org.genivi.SotaClient"
software_manager = "org.genivi.SoftwareLoadingManager"
software_manager_path = "/org/genivi/SoftwareLoadingManager"
timeout = 60

[device]
uuid = "bc50fa11-eb93-41c0-b0fa-5ce56affa63e"
packages_dir = "/tmp/"
package_manager = "off"
certificates_directory = "/tmp/aktualizr/"
system_info = "system_info.sh"

[gateway]
dbus = false
http = true
rvi = false
socket = false

[network]
socket_commands_path = "/tmp/sota-commands.socket"
socket_events_path = "/tmp/sota-events.socket"
socket_events = "DownloadComplete, UpdateAvailable"

[rvi]
node_host = "localhost"
node_port = 8810
device_key =  "./config/ex/keys/insecure_device_key.pem"
device_cert = "./config/ex/certificates/insecure_device_cert.crt"
ca_cert = "./config/ex/certificates/insecure_root_cert.crt"
cert_dir =  "./config/ex/certificates"
cred_dir = "./config/ex/credentials/"
packages_dir = "/tmp/"
uuid = "123e4567-e89b-12d3-a456-426655440000"

[provision]
provision_path = "tests/test_data/credentials.zip"
p12_password = ""

[tls]
server = "https://7d0a4914-c392-4ccd-a8f9-3d4ed969da07.tcpgw.prod01.advancedtelematic.com:8000"
ca_source = "file"
pkey_source = "file"
cert_source = "file"

[storage]
path = "/tmp"
uptane_metadata_path = "/tmp/aktualizr/metadata"
uptane_private_key_path = "ecukey.pem"
uptane_public_key_path = "ecukey.pub"
tls_cacert_path = "ca.pem"
tls_pkey_path = "pkey.pem"
tls_clientcert_path = "client.pem"

[uptane]
polling = true
polling_sec = 10
key_source = "file"

[pacman]
type = "ostree"
os = "testos"
sysroot = "/opt/sysroot"
