[Unit]
Description=Aktualizr SOTA Client
Wants=network-online.target
After=network.target network-online.target
Requires=network-online.target

[Service]
RestartSec=10
Restart=always
Environment="AKTUALIZR_SECONDARY_CONFIG=--secondary-config /usr/lib/sota/demo_secondary.json"
EnvironmentFile=-/usr/lib/sota/sota.env
ExecStart=/usr/bin/aktualizr --config /usr/lib/sota/sota.toml $AKTUALIZR_SECONDARY_CONFIG

[Install]
WantedBy=multi-user.target
